*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1.25rem 2rem;
}
header #company-identifier #logo-icon {
  font-size: 1.75rem;
}
header #company-identifier #company-name {
  font-size: 1.5rem;
}
header nav {
  margin-top: 0.35rem;
  margin-right: 2rem;
}
header nav menu {
  list-style-type: none;
}
header nav menu li {
  font-size: 1.2rem;
  display: inline;
  cursor: pointer;
}
header nav menu li:not(:last-child) {
  margin-right: 1.2rem;
}
footer {
  background-color: lightgray;
  font-size: 1.15rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.75rem;
}
footer #site-info ul {
  list-style-type: none;
}
footer #site-info ul li {
  display: inline;
  cursor: pointer;
}
footer #site-info ul li:not(:last-child) {
  margin-right: 1.2rem;
}
footer #copyright-info {
  font-size: 1rem;
}